<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RegressionTests" verbose="1">

	<test name="sample">
		<classes>
			<class name="Regression_Tests.Admin_BranchManagement_Tests">
				<methods>
					<include name="verify_Login_Funtionality" />
				</methods>
			</class>
			<class name="Regression_Tests.Admin_Group_SAT_Test">
				<methods>
					<!--<include name="verifyManageClass" />
					<include name="verifyActiveInactiveStudetFunc" />
					 <include name="verifySudentVideoFunc" />
					<include name="verifyStudentProgressTracker" />
					<include name="verifyAdminGroupSATTest" /> -->
					<include name="verifySATTestDetails" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
